.blink {
  animation: blink 1s infinite;
}

/*----------------------------- About Me Section start -------------------------------*/

.about-bg {
  height: 100%;
  min-height: 500px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: #ffc900;
}

.social-aria a {
  color: #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-aria {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
  padding: 15px;
}

.social-aria a:hover {
  border-radius: 50%;
}

.social-aria:after {
  position: absolute;
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; */
}

.about-content h2 span {
  color: #ffc900;
  font-size: 100%;
}

.about-content h4 {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 15px;
}

.about-content p {
  font-weight: 400;
}

.about-content h5 {
  margin: 30px 0;
  text-transform: uppercase;
}

.my-image-container {
  overflow: hidden;
  height: 500px;
  max-height: 500px;
  position: relative;
}

.my-image {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

/*----------------------------- About Me Section start -------------------------------*/

/*-------------------- Work Experiance and Education Section start ---------------------*/
.main-timeline {
  position: relative;
}

.main-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #939597;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #939597;
  border: 5px solid #f5df4d;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  padding: 0px 40px 20px 0px;
  left: 0;
}

.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -12px;
}

/*------------ Work Experiance and Education Section end ----------------*/

@media screen and (max-width: 600px) {
  .main-timeline::after {
    left: 31px;
  }

  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 18px;
  }

  .left::before {
    right: auto;
  }

  .right {
    left: 0%;
  }
}

/*============Glogbal Style================ */
html,
body {
  height: 100%;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  margin: 0;
}

a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  font-weight: 600;
  line-height: 1.7;
  margin: 0;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  float: right;
}

.button {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid;
  padding: 10px 20px;
}

.button:hover {
  color: #000;
}

.bg-a {
  background-color: #000;
}

.section-padding {
  padding: 100px 0;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-85 {
  padding-bottom: 85px;
}

.bg-img {
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.bg-primari {
  background-color: #000 !important;
}

.bg-secondary {
  background-color: #ffc900 !important;
}

button:focus {
  outline: none;
}

/*::::::::::::::::::::::::::::::::::::
    Preloader
::::::::::::::::::::::::::::::::::::*/

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 99999;
}

.spinner {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: 50%;
  margin-bottom: -20px;
  width: 40px;
  height: 40px;
}

.cube1,
.cube2 {
  background-color: #ffc900;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/*::::::::::::::::::::::::::::::::::::
   Section Title
::::::::::::::::::::::::::::::::::::*/

.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  text-transform: uppercase;
  position: relative;
  font-size: 32px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 1;
}

.section-title h2:before,
.section-title h2:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  width: 50px;
  height: 5px;
  background-color: #000;
}

.section-title h2:before {
  left: auto;
  right: 50%;
  background-color: #ffc900;
}

/*::::::::::::::::::::::::::::::::::::
   Main Menu
::::::::::::::::::::::::::::::::::::*/
.navbar {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #000;
}
.navbar-brand.logo img {
  max-height: 47px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  font-size: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #ffc900;
}

/*-------------------------------------- Certificates Completed Section start ----------------------------------*/

.testimonial-area {
  position: relative;
  z-index: 1;
}

.testimonials.owl-carousel {
  position: relative;
}

.testimonial-area .bg-white {
  padding: 60px;
}

.testimonial-quote {
  font-size: 30px;
}

.single-testimonial p {
  margin: 30px 0;
}

.single-testimonial h4 {
  font-size: 20px;
}

.single-testimonial h4 span {
  display: block;
  font-size: 70%;
  color: #aaa;
  font-weight: 400;
  line-height: 2;
}

.testimonials .owl-nav div {
  display: inline-block;
  font-size: 15px;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: -50px;
  color: #aaa;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.testimonials .owl-nav div.owl-next {
  left: auto;
  right: -50px;
}

.testimonials .owl-nav div:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*-------------------------------------- Certificates Completed Section end ----------------------------------*/

/*-------------------------------------- Contact Me Section start --------------------------------------------*/

.contact-form {
  padding: 60px;
  box-shadow: 0 0 10px #ccc;
}

.contact-form .form-control {
  background-color: #f8f9fa;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 0;
}

.contact-form .form-control:active {
  box-shadow: 0 0 0;
  background-color: #f8f9fa;
}

.contact-form textarea.form-control {
  height: 140px;
}

input:-webkit-autofill {
  background-color: #f8f9fa;
  border: none;
}

.form-control::-webkit-input-placeholder {
  color: #aaa;
}

.form-control:-ms-input-placeholder {
  color: #aaa;
}

.form-control::-ms-input-placeholder {
  color: #aaa;
}

.form-control::-webkit-input-placeholder {
  color: #aaa;
}

.form-control::-moz-placeholder {
  color: #aaa;
}

.form-control:-ms-input-placeholder {
  color: #aaa;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control:focus {
  box-shadow: none;
}

.form-btn .button {
  margin: 0;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-btn .button:hover {
  color: #000;
  background-color: #ffc900;
}

.form-message {
  margin-top: 15px;
  font-weight: 700;
}

.form-message.error {
  color: #f00;
}

.form-message.success {
  color: #000;
}

/*-------------------------------------- Contact Me Section end --------------------------------------------*/

/*-------------------------------------- Footer Section start ----------------------------------------------*/
.footer-area {
  padding: 30px;
  background-color: #000;
  border-bottom: 5px solid #ffc900;
}

.copyright-text a {
  color: #eee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.copyright-text a:hover {
  color: #ffc900;
}

/*-------------------------------------- Footer Section end ----------------------------------------------*/
